@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
  font-family: Roboto;
}
.roboto{
  font-family: Roboto;
}
.heading{
  font-family: Arsenal;
  font-weight: 700;
  font-size: 24px;
}
.bg-background {
  background-color: #FFF3EB;
}
.bg-icon{
  background-color: #FFF3EB;
}
.boxs{
  box-shadow: 0 4 16 0 #000000 6%;
}
.green-btn, .close-btn, .trans-btn{
  border-radius: 6px;
  background-color: #00CA8D;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 20px;
  border: 0;
  outline: 0;
  padding: 12px 20px 12px 20px;
}
.close-btn{
  background-color: #999999;
}
.trans-btn{
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  color: #5A5A5A;
}