@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

/* gap  */
.gap-20{
  gap: 20px;
}
.gap-12{
  gap:12px;
}
.gap-6{
  gap:6px;
}


/* margin */
.mt-20{
  margin-top: 20px;
}
.mt-32{
  margin-top: 32px;
}
.mt-44{
  margin-top: 44px;
}
.mt-16{
  margin-top: 16px;
}



.heading-h3{
  font-size: 14px;
  font-weight: 500;
  color: #222222;
  line-height: 20px;
}


h1,h2,h3,h4,h5,h6,div,p{
  padding: 0;
  margin: 0;
}
.roboto{
  font-family: Roboto;
}
.heading{
  font-size: 18px;
  font-family: Arsenal;
  font-weight: 700;
  line-height: 24px;
}
.bg-background {
  background-color: #FFF3EB;
}
.bg-icon{
  background-color: #FFF3EB;
}
.boxs{
  box-shadow: 0 4 16 0 #000000 6%;
}
.green-btn, .close-btn, .trans-btn{
  border-radius: 6px;
  background-color: #00CA8D;
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 16px;
  border: 0;
  outline: 0;
  padding: 10px 20px 10px 20px;
}
.close-btn{
  background-color: #999999;
}
.trans-btn{
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  color: #5A5A5A;
}
.career-view-heading{
  font-size: 1rem;
  line-height: 24px;
  font-weight: 500;
  color: #222222;
}
.career-view-para{
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #717171;
}
.link{
  color: #FF1A58;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
}
.right-para{
  font-weight: 400;
  font-size: 14px;
  color: #717171;
  line-height: 24px;
}
.fs-para{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.role{
  font-size: 14px;
  font-weight: 400;
  color: #717171;
  line-height: 20px;
}



@media ((min-width: 576px) and (max-width: 2200px)){
  .heading{
    font-size: 24px;
    font-family: Arsenal;
    font-weight: 700;
    line-height: 28px;
  }
  .fs-para{
    font-size: 16px;
  }
  .heading-h3{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
  .role{
    font-size: 12px;
    line-height: 16px;
  }
  .green-btn, .close-btn, .trans-btn{
    font-size: 14px;
    line-height: 20px;
    padding: 12px 20px 12px 20px;
  }
}
/* @media ((min-width: 300px) and (max-width: 575px)){
} */
